@model IEnumerable<SistemaControleVendasProjeto.Models.NivelAcesso>

@{
    ViewData["Title"] = "Index";
}

<h1>Níveis de Acesso</h1>

<p>
    <a asp-action="Create">Cadastrar Novo Nível de Acesso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoAcesso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoAcesso)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NivelAcessoID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.NivelAcessoID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.NivelAcessoID">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
